# Intro to ML Project
## Task 1a
### Jan Bauer, Alaisha Sharma

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold

%matplotlib inline

In [22]:
train_data = pd.read_csv("data/train.csv")
train_data = train_data.drop(columns='Id')
train_data.head()

           y        x1        x2        x3        x4        x5
0  -5.522114  1.764052  0.400157  0.978738  2.240893  1.867558
1 -21.789980 -0.977278  0.950088 -0.151357 -0.103219  0.410599
2  -7.911497  0.144044  1.454274  0.761038  0.121675  0.443863
3  -3.698062  0.333674  1.494079 -0.205158  0.313068 -0.854096
4 -16.001833 -2.552990  0.653619  0.864436 -0.742165  2.269755

In [23]:
X_train = train_data.iloc[:,1:]
X_train.head()

         x1        x2        x3        x4        x5
0  1.764052  0.400157  0.978738  2.240893  1.867558
1 -0.977278  0.950088 -0.151357 -0.103219  0.410599
2  0.144044  1.454274  0.761038  0.121675  0.443863
3  0.333674  1.494079 -0.205158  0.313068 -0.854096
4 -2.552990  0.653619  0.864436 -0.742165  2.269755

In [24]:
y_train = train_data.iloc[:,0:1]
y_train.head()

           y
0  -5.522114
1 -21.789980
2  -7.911497
3  -3.698062
4 -16.001833

In [25]:
for i in range(1,6):
    original = "x" + str(i)
    # Squared terms.
    col_sq = "x" + str(i) + "_sq"
    X_train[col_sq] = np.square(X_train[original])
    # Exp terms.
    col_exp = "x" + str(i) + "_exp"
    X_train[col_exp] = np.exp(X_train[original])
    # Cosine terms.
    col_cos = "x" + str(i) + "_cos"
    X_train[col_cos] = np.cos(X_train[original])
    
X_train["const"] = np.ones(len(X_train))
X_train.head()

,x1,x2,x3,x4,x5,x1_sq,x1_exp,x1_cos,x2_sq,x2_exp,...,x3_sq,x3_exp,x3_cos,x4_sq,x4_exp,x4_cos,x5_sq,x5_exp,x5_cos,const
0,1.764052,0.400157,0.978738,2.240893,1.867558,3.111881,5.836039,-0.192055,0.160126,1.492059,...,0.957928,2.661096,0.558070,5.021602,9.401725,-0.621062,3.487773,6.472471,-0.292425,1.0
1,-0.977278,0.950088,-0.151357,-0.103219,0.410599,0.955072,0.376334,0.559281,0.902668,2.585938,...,0.022909,0.859541,0.988567,0.010654,0.901930,0.994678,0.168591,1.507720,0.916882,1.0
2,0.144044,1.454274,0.761038,0.121675,0.443863,0.020749,1.154934,0.989644,2.114911,4.281372,...,0.579178,2.140496,0.724121,0.014805,1.129387,0.992607,0.197015,1.558717,0.903099,1.0
3,0.333674,1.494079,-0.205158,0.313068,-0.854096,0.111339,1.396088,0.944845,2.232272,4.455232,...,0.042090,0.814518,0.979029,0.098011,1.367614,0.951393,0.729480,0.425668,0.656901,1.0
4,-2.552990,0.653619,0.864436,-0.742165,2.269755,6.517757,0.077849,-0.831717,0.427217,1.922485,...,0.747250,2.373667,0.649069,0.550809,0.476082,0.737007,5.151786,9.677026,-0.643421,1.0

In [27]:
reg = LinearRegression(fit_intercept=False).fit(X_train, y_train)
print("Coefficients: ", reg.coef_[0])

Coefficients:  [ 0.6210031  -1.88050159  0.38409542 -0.44138594  0.3868881  -0.36108314
  1.17853664  3.10723581  0.3914053   0.40412482  1.84012209  0.1757313
 -1.26412287  0.96693659 -2.71907425  0.61530015 -6.09585693  2.23434136
 -0.33950173  3.97178605 -6.3133614 ]

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/base.py:509: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  linalg.lstsq(X, y)

In [29]:
weights_submit = pd.Series(reg.coef_[0])
final_submit = weights_submit.to_csv("submit.csv", index=False)